$padding: 10
$class-slug: pixel

=pixelLoop($a,$b,$num,$start)
  $j: $padding
  @if $start > 0
    $j: $j - 2
  //@else
  //  &:active
  //    *
        //margin-#{$a}: -.5px
        //#{$a}: 50% !important
        //transition-delay: 0s !important
        //transition-duration: 0s !important
  @for $i from $padding through ($padding+$num)
    .#{$class-slug}-#{$i - $padding + $start}
      @if $i>($padding+$num/2)
        $j: $j - 1
      @else
        $j: $j + 1
      #{$a}: $i+px
      #{$b}: $j+px
      transition-delay: $i*0.04s
    &:hover .#{$class-slug}-#{$i - $padding + $start}
      transition-delay: $j*0.02s


[class^="#{$class-slug}s-"]
  position: relative
  cursor: pointer
  padding: $padding+px
  float: left
  transition: all $easeInOutCubic .3s
  transform: translateZ(0)
  *
    width: 1px
    height: 1px
    position: absolute
    background-color: $black
    transition: top $easeInOutCubic .3s, bottom $easeInOutCubic .3s,right $easeInOutCubic .3s, left $easeInOutCubic .3s,background-color $easeInOutCubic .3s
    transform-origin: right center

  &:hover
    *
      background-color: $brown

.reverse .pixels-top,
.pixels-bottom
  width: 9px
  height: 5px
  +pixelLoop(left,top,8,0)
  //&:active *
    //height: 15px
    //top: 0px

.reverse .pixels-bottom,
.pixels-top
  width: 9px
  height: 5px
  margin-top: 2px
  +pixelLoop(left,bottom,8,0)
  //&:active *
    //height: 15px
    //bottom: 0px

.pixels-right
  width: 5px
  height: 9px
  +pixelLoop(top,left,8,0)
  //&:active *
  //  width: 15px
  //  left: 0px

.pixels-left
  width: 5px
  height: 9px
  +pixelLoop(top,right,8,0)
  //&:active *
  //  width: 15px
  //  right: 0px

.pixels-cross
  height: 9px
  width: 9px
  +pixelLoop(top,left,8,0)
  +pixelLoop(bottom,right,8,9)
  &:hover
    transform: rotate(90deg)
  &:active *
    transform: scale(.5)

.pixels-expend
  height: 10px
  width: 10px
  padding: 0
  margin-left: 10px
  margin-top: 10px
  .pixel-0
    left: 0
    bottom: 0
  .pixel-1
    left: 1px
    bottom: 0
  .pixel-2
    left: 2px
    bottom: 0
  .pixel-3
    left: 3px
    bottom: 0
  .pixel-4
    left: 0
    bottom: 1px
  .pixel-5
    left: 0
    bottom: 2px
  .pixel-6
    left: 0
    bottom: 3px

  .pixel-7
    right: 0
    top: 0
  .pixel-8
    right: 1px
    top: 0
  .pixel-9
    right: 2px
    top: 0
  .pixel-10
    right: 3px
    top: 0
  .pixel-11
    right: 0
    top: 1px
  .pixel-12
    right: 0
    top: 2px
  .pixel-13
    right: 0
    top: 3px

.pixels-collapse
  height: 100%
  width: 100%
  padding: 0
  position: absolute
  left: 0
  top: 0

  .pixel-0
    left: 3px
    bottom: 3px
  .pixel-1
    left: 2px
    bottom: 3px
  .pixel-2
    left: 1px
    bottom: 3px
  .pixel-3
    left: 0px
    bottom: 3px
  .pixel-4
    left: 3px
    bottom: 2px
  .pixel-5
    left: 3px
    bottom: 1px
  .pixel-6
    left: 3px
    bottom: 0

  .pixel-7
    right: 3px
    top: 3px
  .pixel-8
    right: 2px
    top: 3px
  .pixel-9
    right: 1px
    top: 3px
  .pixel-10
    right: 0px
    top: 3px
  .pixel-11
    right: 3px
    top: 2px
  .pixel-12
    right: 3px
    top: 1px
  .pixel-13
    right: 3px
    top: 0

.pixels-grid
  width: 13px
  height: 13px
  margin: 8px 6px
  padding: 0
  *
    width: 3px
    height: 3px
    //border: 1px solid $black
    +border
    background-color: $cream
  &:hover *
    background-color: $grey2

  .pixel-0,
  .pixel-3,
  .pixel-6
    left: 0

  .pixel-1,
  .pixel-4,
  .pixel-7
    left: 5px
  .pixel-2,
  .pixel-5,
  .pixel-8
    right: 0
  .pixel-3,
  .pixel-4,
  .pixel-5
    top: 5px

  .pixel-6,
  .pixel-7,
  .pixel-8
    bottom: 0

  @for $i from 1 through 8
    .pixel-#{$i}
      transition-delay: $i*0.02s
