mixin pixel(className, num)
  div(class='pixels-'+className)
    - var n = 0
    while n < num
      span(class="pixel-#{n}")
      - n++

mixin icon-right
  +pixel('right',9)
mixin icon-left
  +pixel('left',9)
mixin icon-bottom
  +pixel('bottom',9)
mixin icon-top
  +pixel('top',9)
mixin icon-cross
  +pixel('cross',18)
mixin icon-search
  +pixel('search',18)
mixin icon-expend
  +pixel('expend',14)
mixin icon-collapse
  +pixel('collapse',14)
mixin icon-grid
  +pixel('grid',9)

mixin toggle-menu
  .toggle-menu(ng-click="toggleNav()")
    span
    span
    span