+breakpoint($tablet)
  #store,
  .designer-container
    margin-top: 22px

//.page-store .container
//  +breakpoint-max($tablet)
//    width: 310px
#store
  +border

  blockquote
    font-size: 19px
    line-height: 24px
    padding: 0 0 30px 0
    text-align: center
    font-weight: normal
    font-family: Optima, Arial, Verdana

.logo.storeNameLarge
  font-family: Optima, Arial, Verdana
  padding-top: 104px
  padding-bottom: 20px
  margin-bottom: -40px
  .resultTitle
    font-size: 14px
    padding-right: 5px

.page-search,
.page-designer
  .storeNameLarge
    padding-top: 130px

.storeLocation
  padding-top: 24px
  font-weight: 100
  opacity: .5
  font-size: 15px
  font-family: Optima, Arial, Verdana
  width: 100%
  z-index: 2
  position: relative
  +breakpoint($tablet)
    top: 123px
    position: absolute

.store-header
  top: 0
  background-color: $cream
  padding: 0 15px
  position: absolute
  width: 100%
  z-index: 2
  box-sizing: border-box
  *
    display: inline-block
    padding-right: 15px
    margin-bottom: 20px
    text-transform: capitalize
  &.active
    position: fixed
    left: 0
    top: 76px

section
  +clearfix
  h1,h2,h3
    text-transform: capitalize
  position: relative
  .btn
    position: absolute
    right: 15px
    bottom: -20px

.subsection
  display: block
  float: left
  width: 40%
  margin: 5%
  height: 100px
  background-color: $grey
  text-align: center
  color: #fff

.col
  float: left

+breakpoint($tablet)
  .section-main-left
    +border
    .col:first-child
      width: 60%
    .col:last-child
      float: right
      box-shadow: none
    .square
      .col:last-child
        +border

  .section-main-right
    .col:first-child
      box-shadow: none
    .col:last-child
      width: 60%

  .section-wrapper
    .col
      width: 40%
      height: 100%
      .col
        width: 50%
.fullWidth
  width: 100% !important

.col,
.section-tile,
.section-video
  +border
  img
    width: 100%
    display: block

.section-tile,
.section-video
  padding: 10px

.section-tile
  padding: 10px
  width: 100%
  box-sizing: border-box
  &:not(.col)
    //padding-top: calc((1093/695)+% + 20px)
    padding: 61.7% 10px 0 10px
    +breakpoint($tablet)
      padding: 60.6% 10px 0 10px
    position: relative
    img
      left: 10px
      position: absolute
      top: 10px
      width: calc(100% - 20px)
  .tile-image
    width: auto
    height: auto
    right: 10px
    bottom: 40px
    position: absolute
    top: 10px
    left: 10px
    background-position: center
    background-size: cover
    background-repeat: no-repeat

  img
    display: block

#quote .section-tile
  padding-top: 112%

#designer .section-tile.tile
  padding-top: 90%

.section-packery
  .tile
    width: 50%
    padding-top: 50%
    &.s2
      width: 50% !important
    &.s3
      padding-top: 100%

.section-wrapper
  .row
    position: relative

  .col
    float: none

  +breakpoint($tablet)
    .col
      float: left

    .row
      position: absolute
      height: 100%
      width: 100%
      .col
        position: absolute
        height: 100%
        &:last-child
          left: 50%

    .fullHeight
      .row
        height: 50%
        &:last-child
          top: 50%
        .col
          width: 50%

  .square
    h4
      font-weight: 600
      margin-top: 10px
    +breakpoint-max($tablet)
      &,
      p
        text-align: center
      .section-tile
        display: none
    .col
      float: none
      &:first-child
        width: 100%
        +breakpoint($desktop)
          width: 50%
      &:last-child
        display: none
        +breakpoint($desktop)
          display: block
    +breakpoint($tablet)
      position: absolute
      height: 100%
      right: 0
    text-align: left
    .section-wysiwyg
      padding: 20px
      a
        margin: 5px
      +breakpoint($tablet)
        a
          margin: 5px 10px 6px 0px
        ul
          position: absolute
          bottom: 15px
  .cover
    background-size: cover
    position: absolute
    right: 10px
    left: 10px
    bottom: 10px
    top: 10px

  .tile
    &:hover
      +border

  .tile-link
    cursor: default

.section-wrapper
  .s0,.s1,.s2
    width: 50% !important
    float: left
    .s0,.s1,.s2,.s3,.s4,.s5,.s6
      width: 100% !important
  .s3,.s4
    width: 100% !important
    .s0,.s1,.s2,.s3,.s4,.s5,.s6
      width: 100% !important

  +breakpoint-max($desktop)
    .tile img
      display: none
    .tile.s1
      padding-top: 100%
    .tile.s2
      padding-top: 200%

.section-wysiwyg
  padding: 10px
  +breakpoint($tablet)
    padding: 31px 32px
  +breakpoint($desktop)
    padding: 72px 74px
  &.tiny
    padding: 40px
    clear: both
    //+border-no-bottom
  h3
    font-size: 17px
    line-height: 24px
    margin-bottom: 35px
    letter-spacing: .6px
    text-transform: none
  p
    font-size: 14px
    line-height: 25px
    letter-spacing: .1px
    text-align: left
    margin-top: 25px
    font-family: Helvetica, Arial, sans-serif

  ul
    padding: 0
    margin: 0
    list-style-type: none
    +breakpoint($tablet)
      &.left-align
        text-align: left
        a
          margin: 32px 132px 15px 0
  li
    display: inline-block
    position: relative
  a
    text-transform: uppercase
    position: relative
    display: block
    margin: 10px 20px
    font-size: 14px
    font-family: 'Simplon BPtestFont'
    &.store-location
      &:after
        content: none
      span
        display: inline-block
        position: relative
        padding-top: 5px
      +breakpoint-max($desktop)
        span:last-child
          padding-left: 3px

    +breakpoint($desktop)
      margin: 15px 36px 15px 11px

    &.store-location span:after,
    &:after
      position: absolute
      background-color: $black
      content: ''
      width: 100%
      height: 1px
      bottom: -1px
      left: 0

.street-address
  p
    font-family: Optima, Arial, Verdana
    line-height: 22px
    margin-top: 20px

.section-tile .caption
  position: relative
  padding: 15px 0 0 0
  height: 40px

  h1,h2,h3,p
    font-size: 13px
    text-transform: uppercase
    letter-spacing: 0.1px

#quote
  blockquote
    padding: 20px 15px 53px 15px
    +breakpoint($tablet)
      padding: 26px 15px 53px 15px
    +breakpoint($desktop)
      padding: 53px 30px
    margin: 0

  cite
    text-transform: uppercase
    font-style: normal
    font-size: 12px
    font-family: 'Simplon BPtestFont'
    display: block
    letter-spacing: -.2px
    margin-top: 49px
    margin-bottom: -43px

.section-center
  padding-top: 50px
  margin-bottom: -60px
  .section-wysiwyg
    padding: 20px 32px
  h4
    font-size: 30px
  ul
    list-style-type: none
    white-space: pre-line
    margin-top: -20px
  li
    margin-left: 0

.sticky-content
  +border-no-bottom
+breakpoint-max($tablet)
  .sticky-content
    height: auto !important
    & > div
      position: initial !important

.further_informations .section-wysiwyg a
  margin: 15px 11px

.address-row
  z-index: 2