include ../icons/icons

div(ng-controller='StoreCtrl')
  #store.container

    div(ng-repeat='display in sectionToDisplay | orderBy: display.position')
      .section-wrapper(ng-if="display.type == 'video'")
        section.section-video
          .videoContainer(fluid-video video-type="vimeo" video-id="{{::video}}?title=0&byline=0&portrait=0")

      .section-wrapper(ng-click="openGallery(display.index)" ng-if="display.type == 'inspire'")
        section.section-tile
          img(ng-src='{{::display.photo}}')
          .togglePopup
            +icon-expend

      .section-wrapper#intro(ng-if="display.type == 'intro'")
        section.section-main-left
          .col.sticky-content(ng-class="{fullWidth: quote == null}")
            .fix(sticky)
              .section-wysiwyg(ng-if="intro_description")
                p(ng-bind-html="intro_description")

          .col#quote(ng-if="quote")
            blockquote
              p {{::quote}}
              footer(ng-if="author")
                cite {{::author}}
            .section-tile(ng-if="intro_photo")
              .tile-image(ng-attr-style='background-image:url("{{::intro_photo}}")')

      .section-wrapper#designer(ng-if="display.type == 'designer'")
        section.section-main-right
          .col(ng-if="designer_url")
            .section-tile.tile(ng-if="designer_image")
              .tile-image(ng-attr-style='background-image:url("{{::designer_image}}")')
              .caption
                h3 {{::designer_title}}
            .section-tile.tile(ng-if="!designer_image")
              .grid-quote {{::designer_title}}
            .section-wysiwyg.tiny
              ul
                li
                  a(href="{{::designer_url}}") {{::translations.label_view_designer_page}}
                li
                  a(ui-sref="home.designers") {{::translations.label_all_designers }}
          .col.sticky-content(ng-class="{fullWidth: designer_url == null}")
            .fix(sticky)
              .section-wysiwyg(ng-if="text_copy1")
                p(ng-bind-html="text_copy1")

      .section-wrapper#features_materials(du-spy-context ng-if="display.type == 'features_materials'")
        section.section-main-left
          .col.sticky-content
            .fix(sticky)
              .section-wysiwyg
                p(ng-if="text_copy2" ng-bind-html="text_copy2")

                ul
                  li
                    a(ui-sref="home.features") {{translations.label_all_features}}
                  li
                    a(ui-sref="home.materials") {{translations.label_all_materials}}
          .col
            .floating-wrapper(ng-repeat="bricksWrapper in mainWrapper" ng-class="::bricksWrapper.size")
              .floating-wrapper(ng-repeat="wrapper in bricksWrapper.bricks" ng-class="::wrapper.size")
                .tile(ng-repeat="brick in wrapper.bricks" ng-class="::brick.size")
                  tile(ng-brick="{{ ::brick }}")

      .section-wrapper#location(ng-if="display.type == 'location'")
        section.section-main-left(ng-controller='MapCtrl' ng-class="{fullHeight: az_description}")
          .col.section-tile
            #map(ng-attr-style="{{mapSize}}")
          .col.square
            .row.address-row
              .col
                .section-wysiwyg.street-address(ng-if="street_address")
                  h4 Aesop {{::storeLocation}}
                  p {{::street_address}}
                  ul(ng-if="aesop_com_store_detail_link")
                    li
                      a.store-location(href="{{aesop_com_store_detail_link}}" target="_blank")
                        span {{::translations.label_view_store_details || 'VIEW STORE DETAIL'}}
                        span {{::translations.label_view_store_details_line_2 || 'ON AESOP.COM'}}

              .col.section-tile
                div.cover(ng-attr-style='background-image:url({{::location_photo1}})')
            .row
              .col(ng-if="az_description")
                .section-wysiwyg
                  h4 {{::az_title}}
                  p {{::az_description}}
                  ul(ng-if="az_link")
                    li
                      a(href="{{az_link}}" target="_blank") {{translations.label_view_more}}
              .col.section-tile
                div.cover(ng-attr-style='background-image:url({{::location_photo2}})')

  .section-center.further_informations(ng-if="further_informations")
    h4 {{translations.label_further_information}}
    .section-wysiwyg
      ul
        li(ng-repeat="info in further_informations")
          a(href="{{::info.link}}" target="_blank") {{::info.title}}

  script#gallery(type="text/ng-template")
    .togglePopup(ng-click="closeThisDialog()")
      .wrapper-pixel
        +icon-collapse

    include ../gallery/gallery

  div(ng-repeat='image in gallery')
    .preload(ng-attr-style='background-image:url("{{::image.src}}")')