=reveal-line($lineHeight)
  background: linear-gradient(to bottom,$cream,$cream 50%,transparent 50%,transparent)
  /* The rectangle in which to repeat.
     It can be fully wide in this case */
  background-size: 100% $lineHeight

=line-mask($lineHeight)
  position: relative
  &:after
    position: absolute
    height: 100%
    width: 100%
    content: ''
    z-index: 2
    +reveal-line($lineHeight)
    transition: background-size ease-in .25s

.expandable,
.reveal
  .line-mask:after
    background-size: 100% 0
