include ../icons/icons
footer.footer(ng-class="{'expend' : toggleF}")
  .toogle(ng-class="{'reverse' : toggleF}" ng-click="toggleF = !toggleF")
    +icon-top
  .container
    .expandable
      h3.title {{translations.footer_about}}

      p.two-columns {{translations.footer_copy}}
      .side
        .signUp
          h4 {{translations.footer_signup_copy}}
          form(ng-submit="subscribe()")
            .error(ng-if="error") {{error}}
            .success(ng-if="success") {{success}}
            .input-background(ng-class="(error!='') ? 'error' : ''")
              input(name='email_address' placeholder='{{translations.footer_sign_up_email_placeholder}}' ng-model='form.email_address' type='email' required ng-keyup='$event.keyCode == 13 && subscribe()')
            input.button(type='submit', value='{{translations.footer_submit}}')

        .social-list
          label {{translations.footer_connect_with_us}}
          ul.list-inline
            li
              a(href="https://instagram.com/aesopskincare" target="_blank")
                span.icon-instagram
            li
              a(href="https://twitter.com/aesopskincare/" target="_blank")
                span.icon-twitter
    .footer-links
      blockquote(ng-class="{'reverse' : toggleF}" ng-click="toggleF = !toggleF")
        | ‘Order and simplification are the first steps toward the mastery of a subject.’
        span.author Thomas Mann

      .side
        .credits 2016 © Aesop
        .links
          a(href="http://www.aesop.com/help/faq/terms/" target="_blank") {{translations.footer_terms_and_conditions}}
          a(href="http://www.aesop.com/help/faq/privacy/" target="_blank") {{translations.footer_privacy_policy}}
          //a.connect.hide-mobile(ng-class="{'reverse' : toggleF}" ng-click="toggleF = true") Connect with us
          a.connect(href="mailto:aesop@aesop.com" target="_blank") {{translations.footer_contact_us}}
