
.footer
  transform: translate3d(0,0,0)
  background-color: $cream
  text-align: left
  position: relative
  transition: all ease-in .2s
  &:hover
    padding-bottom: 5px

  +breakpoint-max($tablet)
    text-align: center
    padding-bottom: 40px

  .title
    +font-large
    line-height: 21px
    padding-top: 33px
    padding-left: 4px
    letter-spacing: .5px

  // Top border
  &:before,
  &:after
    position: absolute
    content: ''
    top: -1px
    width: 50%
    height: 1px
    background-color: #888
  &:before
    right: 0
  &:after
    left: 0
  .container
    overflow: hidden
    position: relative
    transition: height .5s $easeInOutCubic
    +breakpoint-max($tablet)
      width: 100%
    +breakpoint($tablet)
      height: 411px
    +breakpoint($desktop)
      height: 311px

  .toogle
    cursor: pointer
    position: absolute
    transform: translateX(-50%)
    left: 50%
    top: -14px
    z-index: 4
    opacity: 0
    +removeTouchOverlay

  .list-inline
    flex-direction: row
    float: left
    li
      height: auto
    a
      width: 35px
      height: 40px

  .social-list
    margin-top: 10px
    label
      float: left
      line-height: 40px


.two-columns
  margin: 0
  //margin-bottom: -40px
  letter-spacing: -.22px
  padding: 20px 15px 0 15px
  +breakpoint($tablet)
    padding: 12px 0 0 2px
    margin-right: -2px
  +breakpoint($desktop)
    margin-bottom: 0
    float: left
    width: 60%
    column-count: 2
    column-gap: 20px

.sticky
  +breakpoint($tablet)
    transition: opacity ease-in .3s
    opacity: 1
    position: fixed
    z-index: 30
    width: 100%
    bottom: 0
    .footer
      &:before
        right: -10px
      &:after
        left: -10px
    .expend .container
      height: 381px
    .container
      height: 50px
    .toogle
      opacity: 1

    .connect
      display: inline-block
    .links
      float: right

    .readyToStick
      transition: opacity ease-in 0s
      opacity: 0

  +breakpoint($desktop)
    .expend .container
      height: 311px

.expandable
  +breakpoint($tablet)
    position: absolute
    bottom: 80px
  +breakpoint($desktop)
    width: 100%
    bottom: 50px
    height: 260px

+breakpoint($desktop)
  .side
    float: right
    width: 38%

.signUp
  h4
    font-size: 15px
    font-family: optima
    padding-bottom: 10px
    padding-top: 11px
    letter-spacing: -0.5px

  .input-background
    width: 180px
    display: inline-block
    padding-right: 10px
    input
      width: 179px

  +breakpoint-max($tablet)
    +border
    margin-left: -2px
    margin-top: 20px
    padding-top: 10px
    padding-bottom: 20px

  +breakpoint-max($desktop)
    padding-top: 15px
    padding-bottom: 15px

  @media(min-width: $tablet) and (max-width: $desktop - 1px)
    float: left
    width: 60%

.footer-links
  padding-bottom: 14px
  background-color: $cream
  clear: left
  +breakpoint-max($tablet)
    padding-left: 15px
    padding-right: 15px
  +breakpoint($tablet)
    position: absolute
    bottom: 0
    width: 100%
    clear: both
  .author
    text-shadow: 0px 0px 0px #000
    padding-left: 2px
    +breakpoint-max($tablet)
      display: block

  .links
    a
      font-size: 12px
      padding: 0 5px 0 9px
      &:hover
        opacity: 1

  blockquote
    +removeTouchOverlay
    margin-left: 0
    margin-right: 0
    float: none
    +breakpoint($desktop)
      float: left
      width: 60%
      margin: 0
      letter-spacing: -.43px

.links a
  opacity: .7
  +font-small

.credits
  opacity: .7
  +breakpoint($tablet)
    float: left

.connect
  //display: none
  display: inline-block
.expend .connect
  cursor: default
