.gallery
  position: relative
  padding-bottom: 75px

  .image-gallery
    img
      max-height: calc(100vh - 150px)
      //max-width: 90vw
      //height: calc(100vh - 150px)

  .caption
    position: absolute
    text-align: center
    bottom: 20px
    width: 100%
    text-transform: uppercase

.videoWrapper
  background: black
  width: 100%
  height: 100%
  position: relative

.videoGallery
  width: 100vw
  height: calc(100vw / 1.78)

  +breakpoint($desktop)
    height: calc(100vh - 150px)
    max-height: calc(100vw * .5625)
    width: calc((100vh - 150px) * 1.78)
    max-width: 100vw
    .videoWrapper
      height: calc(100vh - 150px)

  box-sizing: content-box
  position: relative
  overflow: hidden
  img
    position: absolute
    width: 100%
    top: 50%
    left: 0
    transform: translateY(-50%)
    opacity: 1
    pointer-events: none

.slick-active .videoGallery img
  transition: opacity 1s ease-out 2s
  opacity: 0

.center-gallery
  position: absolute
  width: 100%
  top: 0
  height: 100%
  display: flex
  justify-content: center
  flex-direction: column
  slick
    padding-top: 60px

.videoGalleryOverlay


  .gallery, .caption
    opacity: 0
    transition: opacity .5s ease-in

  .slick-track
    .gallery, .caption
      opacity: 1

  .caption
    text-align: left
    bottom: 25px
    padding-left: 0
    padding-right: 0

  .separator-left:first-child .title
    font-weight: bold

  .separator-right .location
    text-decoration: underline

  .separator-left,
  .separator-right
    position: relative
    padding-left: 10px
    padding-right: 18px
    +breakpoint($desktop)
      padding-left: 20px
      padding-right: 20px
    &:before
      content: ''
      width: 1px
      left: 0
      position: absolute
      background-color: $border-color
      top: -1px
      height: 20px
      +breakpoint($desktop)
        height: 26px
        top: 0

    &:first-child:before
      content: none

  .social-separator
    width: 52px
    height: 30px
    .social-list
      position: absolute
      text-align: center
      width: 50px
      bottom: -2px
      +breakpoint($desktop)
        bottom: -6px

  .separator-left
    float: left
    position: relative

  .separator-right
    float: right

.togglePopup
  position: absolute
  top: 1px
  right: 0
  height: 30px
  width: 30px
  background-color: $black
  cursor: pointer
  [class^="pixel-"]
    background-color: #fff

.slick-slider
  background-color: $cream

+breakpoint-max($desktop)
  .ngdialog-content
    height: 100%
    img
      max-width: 100%

.slick-slide
  opacity: .2
  transition: opacity .5s ease-in
  position: relative

.videoGalleryOverlay .slick-track
  .caption
    opacity: 0
    transition: opacity 0s
    *
      transition: opacity .3s
      opacity: 0

  .slick-active .caption
    opacity: 1

  .showcaption *
    opacity: 1

.slick-active
  opacity: 1

.videoGalleryOverlay .social-separator .social-list
    height: 50px
    &:hover
      height: 300px

.controller
  position: absolute
  z-index: 2
  right: 2px
  height: 100px
  margin-top: -40px
  text-align: left
  width: 100px
  +breakpoint-max($tablet)
    bottom: 0
  +breakpoint($tablet)
    top: 50%
    margin-top: -50px
  &:after
    position: absolute
    content: ''
    width: 70px
    height: 1px
    right: 0
    top: 50%
    margin-top: -1px
    background-color: $black
    z-index: -1
  .icon-left
    margin-left: 4px
  .icon-right
    margin-left: -1px
  .icon-right,
  .icon-left
    text-align: right
    font-size: 17px
    position: absolute
    width: 50px
    height: 50px
    right: 0
    cursor: pointer
    border: 1px solid $black
    &:before
      transition: all ease-in .2s
      z-index: 1
      position: relative
      top: 17px
      right: 19px
    &:after
      position: absolute
      transform: translate3d(0,0,0)
      z-index: 0
      content: ''
      right: -1px
      width: 50px
      height: 1px
      background-color: $black
      transition: all ease-in-out .4s
    &:hover
      color: $cream
      &:after
        transition: all ease-in-out .2s
        height: 50px


  .icon-right
    bottom: 1px
    &:after
      top: -1px
  .icon-left
    top: 0
    &:after
      bottom: -1px
  .count
    height: 45px
    line-height: 45px
    margin-top: 27px
    position: absolute
    right: 75px
    span
      padding: 0 2px

.mobile-gallery
  height: 100%
  overflow: hidden
  position: absolute
  top: 0
  width: 100%
  z-index: 1
  background-color: $cream
  -webkit-overflow-scrolling: none
  .scroll-content
    overflow: scroll
    position: absolute
    top: 52px
    bottom: 0
    max-width: 100%
  h2
    height: 52px
    position: fixed
    z-index: 200
    width: 100%
    text-align: center
    line-height: 52px
    font-size: 16px

  .image-gallery img
    height: auto
    max-width: 100%

.image-gallery
  max-width: 100vw
  +breakpoint($desktop)
    height: calc(100vh - 150px)
    overflow: hidden
    max-width: 90vw
    display: flex
    justify-content: center
    img
      max-width: none