mixin gallery
  div(ng-repeat='image in gallery')
    .gallery
      .image-gallery
        img(src='{{::image.src}}')
      //- Use to be different name by photo keep here just in case
      .caption
        h3.title  {{::storeName}}
        .location {{::storeLocation}}

      .social-list.bottom(ng-class="isTouch?'':'notTouchGallery'")
        .icon-share
        ul
          li.show-desktop
            .social-link(ng-click="$parent.mail(image.share)")
              span.icon-mail

          li.show-desktop
            .social-link( social-linkedin media="{{::image.src}}" custom-url="{{::image.share}}")
              span.icon-linkedin
          li
            .social-link(social-facebook custom-url="{{::image.share}}")
              span.icon-facebook
          li
            .social-link(social-twitter media="{{::image.src}}" status="{{::image.share}}")
              span.icon-twitter
          li
            .social-link(social-pinterest media="{{::image.share}}" custom-url="{{::image.share}}" description="Aesop {{::translations.subtitle}}")
              span.icon-pinterest

.mobile-gallery(ng-if="!isDesktop")
  h2.tod
    | {{storeName}}
  .scroll-content
    +gallery

div(ng-if="isDesktop")
  .controller
    .icon-left
    .count
      | {{count+1}}
      span /
      | {{::gallery.length}}
    .icon-right

  .center-gallery(ng-class='slickClass')
    slick('center-mode'='{{centerMode}}' 'center-padding'='0' 'variable-width'='true' next-arrow='.icon-left' prev-arrow='.icon-right' current-index='count' 'adaptive-height'='false')
      +gallery
