div.videoGalleryOverlay
  .controller
    .icon-left
    .count
      | {{count+1}}
      span /
      | {{::videos.length}}
    .icon-right

  .center-gallery
    slick(center-mode='true' center-padding='0' variable-width='true'
          next-arrow='.icon-left' prev-arrow='.icon-right' current-index='count' adaptive-height='false'
          on-after-change='afterChange(count)' on-before-change='beforeChange()')

      div(ng-repeat='video in videos')
        .videos-wrapper(ng-class="{'show': carouselReady}")
          .gallery
            .videoGallery

              .videoWrapper(ng-if="$index == count && currentVideo != null")
                .videoContainer(fluid-video video-type="vimeo" video-id="{{currentVideo.video_id}}")
              img(ng-src='{{video.colorImage}}' ng-class="{'show': $index != count, 'appear': appear}")

          .caption(ng-if="currentVideo != null" ng-class="{'showcaption': showcaption}")
            .separator-left(ng-if="currentVideo.route == 'store'")
              h3.title {{currentVideo.title}}
              .location {{currentVideo.subtitle}}
            .separator-left
              h3.title {{currentVideo.title}}
            .separator-right.social-separator
              .social-list.bottom(ng-class="isTouch?'':'notTouchGallery'")
                .icon-share
                ul
                  li.show-desktop
                    .social-link(ng-click="$parent.mail()")
                      span.icon-mail

                  li.show-desktop
                    .social-link(social-linkedin media="{{photo}}" custom-url="{{share}}")
                      span.icon-linkedin
                  li
                    .social-link(social-facebook custom-url="{{share}}")
                      span.icon-facebook
                  li
                    .social-link(social-twitter media="{{photo}}" status="{{share}}")
                      span.icon-twitter
                  li
                    .social-link(social-pinterest media="{{share}}" custom-url="{{share}}" description="Aesop {{currentVideo.title}}")
                      span.icon-pinterest

            a(ng-href="{{video.ref}}" ng-click="closeThisDialog()").separator-right(ng-if="currentVideo.route == 'store'")
              h3.title {{::translations.label_visit || 'Visit'}}
              .location {{::translations.label_visit_line_2 || 'Store page'}}
