include ../icons/icons

.language-selection
  ul
    li(ng-repeat='section in lang' ng-class="section.code==translations.language_code?'active':''")
      a(ng-click='switchLang(section.code)') {{section.abbr}}
  span.icon-down

.hide-mobile
  include ../social/social

header(ng-class='fixMe')
  .header

    a.logo(ui-sref='home.all' ng-if='mainHeader')
      .icon-aesop
        .hide {{translations.header_mainsite}}
      .tod {{ translations.title }}

    .searchContext(ng-if='isSearch') {{::translations.header_search_context || 'Results for'}}
    h1.storeNameLarge.logo(ng-if='storeName')
      span.resultTitle(ng-if='isSearch') {{header_results_for}}
      | {{storeName}}
    h2.storeLocation(ng-if='storeLocation') {{storeLocation}}

    .fix-header-top(ng-class='activeFixHeader')
      .container
        a.logo(ui-sref='home.all' ng-style='transformLogo')
          .icon-aesop
            .hide {{header_mainsite}}
          .storeName(ng-style='transformSubLogo')
            span.resultTitle(ng-if='isSearch') {{header_results_for}}
            | {{storeName}}
        .tod(ng-style='transformSubLogo')
          a.tod-title(ui-sref='home.all') {{translations.title}}
        .right-nav(ng-class="isTouch?'':'notTouch'")
          a.hide-mobile.main-link(href='http://www.aesop.com/' target='_blank') aesop.com
          include ../social/social


        +toggle-menu

  .fix-header#fixHeader
    .container
      .left-nav
        .cell
          a.back(ui-sref='home.all' title='Back to the list' ng-if='!mainHeader' ng-click='toggleNav()') {{translations.header_home}}
          a(ng-click='philosophy();toggleNav()' ng-if='showPhilosophy') {{translations.header_philosophy}}
          .hide-desktop
            a(href='http://www.aesop.com/' target='_blank') aesop.com
      nav#nav.header-nav(role='navigation')
        .cell
          .header-nav-element(ng-repeat='section in nav' ng-if='mainHeader || isMobile')
            a(ui-sref='{{"home."+section}}' ui-sref-active='active' ng-click='toggleNav()') {{translations['nav_primary_'+section]}}

          .header-nav-element(ng-repeat='section in nav | orderBy: section.position' ng-if='!mainHeader')
            a(href="{{'#'+section.url}}" offset='{{offset}}' du-smooth-scroll='{{section.url}}'
              duration='1500' du-scrollspy='{{section.url}}' ng-click='toggleNav()') {{translations['nav_store_'+section.title]}}

      .header-search(ng-controller="SearchCtrl")
        .header-search-wrapper
          .input-background
            input(type='text'
                  placeholder='{{translations.header_search}}'
                  ng-model='searchInput'
                  ng-keyup='$event.keyCode == 13 && search()'
                  ng-class="{activeSearch: searchInput}")

            .close-search(ng-if="searchInput" ng-click="closeSearch()")
              +icon-cross

          .icon-search(ng-click='search()')
