$fixPos: 148px
$subHeader: 60px

$mobileHeight: 80px

$mobileMenuLevel: 134px

.view-header
  width: 100%
  position: fixed
  z-index: 20
  .social-list
    a
      width: 60px
      height: 40px

  +breakpoint($tablet)
    .social-list
      top: 22px
      position: fixed
      left: 50%
      z-index: 11
      transform: translateX(308px)
      font-size: 11px

      a
        height: 50px

      li
        display: block
        overflow: hidden
        height: 0
        transition: height ease-in-out .8s

      &:hover
        li
          height: 40px

    .share-button
      display: inline-block
      text-align: left
      width: 48px
      position: relative
      &:hover
        cursor: pointer
        .icon-share
          font-weight: 600

    .icon-share
      position: absolute
      top: 3px
      right: 0
  .social-list
    +breakpoint($desktop)
      transform: translateX(443px)
    +breakpoint($large)
      transform: translateX(506px)

#fixHeaderPosition
  top: $fixPos
  position: absolute
  height: 100%

.fix-header
  background-color: $cream
  width: 100%
  position: absolute
  top: 0
  height: $subHeader
  .container
    background-color: $cream
  +breakpoint-max($tablet)
    overflow: hidden

+breakpoint($tablet)
  .fix-header
    top: $fixPos
    .container
      border-bottom: 1px solid #888
      height: $subHeader

  .active
    .fix-header
      position: fixed
      top: $subHeader
      &:before,
      &:after
        opacity: 1
        width: 50%

  .page-search,
  .page-designer,
  .page-store
    &:not(.loading)
      .tod,.logo
        transform: none !important
      .left-nav
        left: 0
      .active .fix-header
        top: 60px
      .fix-header
        top: 170px
      .header-search
        top: 15px
        width: 136px

  .view-header
    position: absolute

.fix-header-top
  background: $cream
  position: fixed
  top: 0
  width: 100%
  height: $mobileHeight
  z-index: 4
  +breakpoint-max($tablet)
    .container
      height: 100%
      &:after
        position: absolute
        left: 0
        height: 1px
        width: calc(100% + 1px) !important
        bottom: 0
        content: ''
        background-color: #888

  +breakpoint($tablet)
    position: fixed
    height: $subHeader
    overflow: hidden
    .container
      &:before,
      &:after
        transition: width $easeInOutCubic .3s, opacity $easeInOutCubic .3s
        position: fixed
        z-index: 10
        // Prevent weird line bug
        transform: translateZ(0)
        height: 1px
        top: 60px
        width: 0
        content: ''
        background-color: #888
        opacity: 0
      &:before
        left: 50%
      &:after
        right: 50%

=fixHeader
  .logo
    width: 300px
    padding-top: 14px
    text-align: left
    margin-left: -8px
    font-size: 24px

  .tod
    width: 100%
    font-size: 15px
    margin-top: -9px
    +breakpoint($tablet)
      margin-top: 9px
    .tod-title
      margin-right: -2px
      margin-left: 2px

=active-header
  .container
    &:before,
    &:after
      //transition: opacity $easeInOutCubic .2s
      opacity: 1
      width: 50%
  +fixHeader
  .logo
    +breakpoint($tablet)
      padding-top: 16px
      font-size: 28px
  .tod
    +breakpoint($tablet)
      position: absolute
      top: 12px

.fix-header-top.active
  +active-header

.page-search,
.page-designer,
.page-store
  .fix-header-top
    +active-header

+breakpoint-max($tablet)
  .fix-header-top
    .logo, .tod
      transform: translate3d(0,0,0) !important
    +fixHeader

.header
  top: 0
  width: 100%
  z-index: 30

+breakpoint-max($tablet)
  .header > .logo
    display: none

.logo
  display: block
  padding-top: $subHeader
  font-size: 40px
  position: relative
  z-index: 2
  .icon-aesop:before
    margin-left: 15px // Trademark not to be centered
    +breakpoint($tablet)
      margin-left: 10px

  .tod
    min-height: 40px
    font-size: 20px
    letter-spacing: .5px
    padding-top: 18px
    span
      margin-right: -2px
      margin-left: 4px

.resultTitle
  font-size: 10px
  padding-right: 3px

.header-nav
  +breakpoint-max($tablet)
    position: absolute
    top: $mobileMenuLevel
    left: 0
    width: 50%
    font-size: 16px
    z-index: 20
    +border
    height: 350px
    height: 300px

  +breakpoint($tablet)
    padding-right: 50px
    display: inline-block
  +breakpoint($desktop)
    padding-right: 0

.header-nav-element
  position: relative
  transition: .50s linear all
  margin-left: 8px
  margin-right: 8px
  +breakpoint($tablet)
    float: left
  a
    text-transform: capitalize
    span
      text-transform: lowercase
    position: relative
    display: block
    line-height: 40px
    padding: 0
    +breakpoint-max($tablet)
      &.active
        text-decoration: underline
    +breakpoint($tablet)
      line-height: 58px
      &:before,
      &:after
        background-color: $black
        position: absolute
        content: ''
        right: 0
        bottom: 16px
        width: 0
        height: 1px
      &:before
        transition: width ease-in .2s
      &:after
        left: 0
      &:active,
      &:focus
        outline: none
      &.active
        color: $black
      &.active,
      &:hover
        &:before
          transition: width ease-in .2s
          width: 100%
          left: 0
        &:after
          transition: width ease-in .3s .2s, left .7s .5s
          width: 100%
          background-color: $cream
          left: 100%

.header-search
  position: absolute
  right: 0
  color: #fff
  top: 79px
  +breakpoint-max($tablet)
    padding: 5px
    width: calc(100% - 10px)
    +border
    input
      width: 100%
      padding: 0
      text-align: center
      height: 43px
      font-size: 13px

  +breakpoint($tablet)
    margin-right: 27px
    top: 15px
  i
    font-size: 23px
    position: relative
    top: 6px

.right-nav,
.left-nav
  position: absolute
  font-size: 16px
  +breakpoint($tablet)
    font-size: 11px
    transform: translateZ(0)

+breakpoint-max($tablet)
  .cell
    position: relative
    top: 50%
    transform: translateY(-50%)

.left-nav
  top: $mobileMenuLevel
  width: 50%
  text-align: center
  a
    padding: 6px
  +breakpoint-max($tablet)
    right: 0
    z-index: 20
    +border
    height: 175px
    height: 150px
    a
      display: block

  +breakpoint($tablet)
    top: 22px
    margin-left: -6px
    width: 200px
    text-align: left

.right-nav
  top: 309px
  top: 284px
  right: 0
  z-index: 3
  +breakpoint-max($tablet)
    height: 175px
    height: 150px
    width: 50%
    display: none
    +border
    .share-button
      padding-top: 32px
      position: relative

    .social-list ul
      flex-direction: row
      flex-wrap: wrap
      justify-content: center

  +breakpoint($tablet)
    top: 0
    line-height: 64px
    .share-button
      display: none

.main-link
  float: right
  padding-left: 10px
  padding-right: 68px

.language-selection
  position: fixed
  top: 0
  left: 50%
  z-index: 100
  width: 88px
  text-align: left
  background-color: #fffef3
  overflow: hidden
  min-height: 50px
  transform: translateX(35px)
  transition: opacity .2s ease-out .2s
  +breakpoint(370px)
    transform: translateX(50px)
  +breakpoint(450px)
    transform: translateX(88px)
  +breakpoint(620px)
    transform: translateX(180px)
  +breakpoint($tablet)
    transform: translateX(#{$tablet/2 - 235px})
  +breakpoint($desktop)
    transform: translateX(#{$desktop/2 - 230px})
  +breakpoint($large)
    transform: translateX(#{$large/2 - 220px})

  ul
    list-style-type: none
    padding-left: 10px
    width: 68px
    margin-top: 12px
    margin-bottom: 4px
    font-size: 11px
    +breakpoint($tablet)
      margin-bottom: 12px

  li
    background-color: #fffef3
    transition: all ease-in-out .5s
    height: 0
    overflow: hidden
    &.active
      height: 33px

  a
    display: block
    padding-left: 5px
    padding-right: 5px
    margin-left: 5px
    margin-right: 5px
    height: 26px
    line-height: 28px
    margin-top: 7px
    +breakpoint-max($tablet)
      margin-top: 0px
      font-size: 12px
  &:hover .active,
  li:hover
    a
      background-color: $grey
  .icon-down
    display: block
    height: 13px
    top: 30px
    right: -2px
    padding-right: 9px
    position: absolute
    transition: transform ease-in-out .25s
    transform-origin: 5px 2px
    +breakpoint-max($tablet)
      top: 24px

  &:hover
    .icon-down
      transform: rotate(180deg)
    li
      height: 33px

.icon-search
  position: absolute !important
  right: 4px
  z-index: 10
  top: 6px
  //top: -3px
  width: 50px
  height: 43px
  line-height: 43px
  font-size: 15px
  color: $black
  font-weight: bold
  cursor: pointer
  +breakpoint($tablet)
    right: -30px
    top: 4px
    width: 20px
    height: 20px
    font-size: 9px
    line-height: 23px

.storeName
  position: absolute
  font-size: 16px
  min-width: 200px
  left: 94px
  top: 16px
  +breakpoint-max($tablet)
    transform: none !important
  +breakpoint($tablet)
    left: 105px
    top: 21px

.toggle-menu
  cursor: pointer
  position: absolute
  top: 10px
  right: 0px
  width: 50px
  z-index: 20
  cursor: pointer
  height: 50px
  +removeTouchOverlay
  +breakpoint($tablet)
    display: none
  span
    position: absolute
    display: block
    background-color: $black
    height: 1px
    width: 20px
    left: 20px
    top: 10px
    transform: translate3d(0,0,0)
    transition: all $easeInOutCubic .5s
    &:nth-child(1)
      width: 13px
      top: 15px
    &:last-child
      top: 20px

+breakpoint-max($tablet)
  .nav-open
    height: 100%
    .fix-header
      height: 100%
      
    .language-selection
      transition: none
      opacity: 0

    .right-nav
      display: block
      li
        height: auto

    .toggle-menu
      span
        transform: rotate(45deg)
        top: 15px
      span:first-child
        opacity: 0
        transform: translate3d(20px,0,0)
      span:last-child
        transform: rotate(-45deg)


.logo
  height: 43px
  cursor: default
  &:before
    cursor: pointer

.close-search
  position: absolute
  top: 0px
  right: 0
  z-index: 2
  +breakpoint-max($tablet)
    left: 5px
    top: 9px

.page-search
  .close-search
    right: -9px

.searchContext
  opacity: .5
  font-size: 15px
  font-family: Optima, Arial, Verdana
  font-weight: 100
  width: 100%
  z-index: 2
  position: relative
  +breakpoint($tablet)
    top: 100px
    position: absolute
