.social-list.retracted
  .share-button
    | {{translations.header_share}}
    span.icon-share
  ul
    li
      a(ng-click="mail()")
        span.icon-mail

    li
      a(social-linkedin media='http://taxonomyofdesign.com/static/images/share.jpg' description='{{translations.sharing_description}}')
        span.icon-linkedin

    li
      a(social-facebook)
        span.icon-facebook

    li
      a(social-pinterest media='http://taxonomyofdesign.com/static/images/share.jpg' description='{{translations.sharing_description}}')
        span.icon-pinterest
    li
      a(social-twitter status="{{translations.sharing_message}}" media='')
        span.icon-twitter