.social-list
  &:hover .icon-share
    font-weight: bold
  .list-inline
    font-size: 17px
    vertical-align: middle

  .icon-facebook:before
    font-size: 18px

  .icon-instagram
    font-size: 18px
    margin-top: -1px
    display: block

  .icon-twitter
    font-size: 15px

  ul
    display: flex
    padding: 0
    margin: 0
    list-style-type: none
    flex-direction: column

  a, .social-link
    background-color: $cream
    display: flex
    align-items: center
    justify-content: center
    height: 50px
    width: 50px
    +breakpoint($tablet)
      color: rgba($black, .7)
      &:hover
        color: $black

  label
    letter-spacing: 0.5px
    margin-right: 15px

  &.bottom
    .icon-share
      position: absolute
      z-index: 2
      background-color: $cream
      bottom: 0
    ul
      position: absolute
      top: 0

+breakpoint($tablet)
  .right-nav
    .social-list
      float: right

  .slick-slider
    .social-list
      position: absolute
      right: 1px
      bottom: 76px
      background-color: $cream
      width: 50px
      height: 300px

+breakpoint($desktop)
  .slick-slider
    .social-list
      height: 300px

.footer
  +breakpoint-max($tablet)
    .social-list
      padding-top: 15px
      line-height: 57px
      height: 37px
      display: inline-block

  @media(min-width: $tablet) and (max-width: $desktop - 1px)
    .social-list
      padding-top: 27px
      float: right

.icon-share
  display: none
  +breakpoint($tablet)
    display: block

.mobile-gallery
  .social-list
    position: absolute
    bottom: 9px
    width: 50px
    right: 0

.slick-slider
  .icon-share
    display: none

.notTouchGallery
  &.social-list
    height: 50px
    overflow: hidden
    transition: all $easeInOutCubic .8s
    li
      pointer-events: none

    &:hover
      height: 300px
      li
        pointer-events: initial

  .icon-share
    display: block
    height: 50px
    width: 50px
    line-height: 50px