.btn
  display: inline-block
  text-align: center
  padding: 0
  margin-top: 40px
  color: $black
  text-transform: uppercase
  line-height: 20px
  border: none
  cursor: pointer
  position: relative
  font-size: 14px
  &:before,
  &:after
    background-color: $black
    position: absolute
    content: ''
    right: 0
    bottom: -5px
    width: 0
    height: 1px
  &:before
    transition: width ease-in .2s
  &:after
    left: 0
  &:active,
  &:focus
    outline: none
  &:hover
    &:before
      transition: width ease-in .2s
      width: 100%
      left: 0
    &:after
      transition: width ease-in .3s .2s, left .3s .5s
      width: 100%
      background-color: $cream
      left: 100%

  &.no-hover
    cursor: text
    &:after,
    &:before
      content: none


.button
  border: none
  background-color: transparent
  color: black
  cursor: pointer
  padding-left: 8px
  padding-right: 8px
  letter-spacing: .2px
  opacity: .7
  min-width: 0
  min-height: 27px