.view-intro
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  text-align: center
  background-color: $cream
  display: table

.intro
  width: 100%
  .icon-aesop

    font-size: 40px
    margin: 0 -7px 15px 0
    +breakpoint($tablet)
      font-size: 63px
      margin: 0 -13px 37px 0

  h1,h2
    transform: translate3d(0,0,0)
    transition: all ease-in-out 1s
    opacity: 1

  h2
    transition: transform ease-in-out 1s .2s, opacity ease-in-out 1.5s .2s
    font-size: 22px
    margin-left: 3px
    +breakpoint($tablet)
      font-size: 33px
      margin-left: 6px
    span
      margin-left: -3px
  p
    margin: 25px auto -5px auto
    font-size: 13px
    line-height: 22px
    padding-left: 20px
    padding-right: 20px
    height: 60vh
    position: relative

    span
      height: 25px
      padding-left: 3px

      +breakpoint($tablet)
        display: block
    +breakpoint(330px)
      height: 50vh
    +breakpoint($tablet)
      height: 144px

    +breakpoint($tablet)
      margin: 58px auto 10% auto
      font-size: 14px
      line-height: 24px
      padding-left: 10px
      padding-right: 10px
      letter-spacing: .15px

  .btn
    letter-spacing: .7px
    line-height: 13px
    position: relative
    color: $grey2
    min-height: 13px
    &:after
      width: 0

  +breakpoint(330px)
    .loading-line
      transition: height ease-in .5s 3s
      position: absolute
      left: 50%
      bottom: 30px
      height: 5vh
      width: 1px
      background-color: $black
      &:after
        position: absolute
        content: ''
        width: 1px
        left: 0
        background-color: $cream
        bottom: 0
        height: 0
        transition: all ease-in .3s .3s

  +breakpoint($tablet)
    .loading-line
      height: 80px