.view-intro(ng-controller='IntroCtrl')
  .intro.center
    h1.icon-aesop
      .hide Aesop
    h2.tod {{::translations.philosophy_title}}

    p(ng-bind-html="translations.philosophy_copy | splitTranslation")

    .btn(ng-click="closeThisDialog()")
      .loading-line
      | {{button}}
