=mask-text
  &:after
    transform: translate3d(0,-100%,0)
    position: absolute
    content: ''
    top: -20px
    bottom: -20px
    width: 100%
    left: 0
    background: $cream
    transition: all ease-in-out .5s


+breakpoint($tablet)
  .loaded
    .icon-aesop, .logo
      position: relative
      overflow: hidden
      +mask-text
    .logo
      height: 83px


html,body,.view-main
  height: 100%
  min-height: 100%


html,body,.view-main,
.body-wrapper
  background-color: $cream
  position: relative
  min-height: 100%
  +breakpoint($tablet)
    transition: $easeInOutCubic 1s transform

.page-designer .body-wrapper,
.page-search .body-wrapper
  min-height: calc(100% - 281px)

.view-footer
  opacity: 1

$t: 0.5s
.view-main
  position: absolute
  width: 100%
  top: 0

  +breakpoint($tablet)
    transition: all ease-in-out .5s
    &.ng-leave-active.page-grid
      transition: all ease-in-out 1s .3s

  &.ng-leave-active
    opacity: 0 !important
    z-index: -1
    .caption,
    .header-search-wrapper,
    .left-nav,
    .grid-quote,
    .header-nav
      transition: all ease-in-out .1s
      transform: translate3d(0,-20px,0)
      opacity: 0
    .header > h1,
    .header > h2,
    .header > .logo
      display: none

  &.ng-leave
    opacity: 1
    z-index: 3

  .header-nav
    transition: all ease-in-out .3s
  &.ng-enter-active
    transition: all ease-in-out .5s
    opacity: 0 !important
    z-index: -1
    .storeName,
    .header-search-wrapper,
    .left-nav,
    .header-nav
      transition: all ease-in-out .3s
      transform: translate3d(0,20px,0)
      opacity: 0 !important

  &.ng-enter
    opacity: 0
    z-index: -3


.view-content
  padding-bottom: 80px
  padding-top: 79px
  width: 100%
  +breakpoint($tablet)
    padding-top: 208px
    transition: all ease-in $t
    &.ng-enter
      position: absolute
      top: 0
      opacity: 0

      .tile
        transition: $t ease-in transform
        opacity: 0
      .caption
        opacity: 0
      .tile-link:after, .tile-link:before
        opacity: 0
        bottom: 800px
    &.ng-leave-active
      opacity: 0
      &:before,
      &:after
        transition: $t ease-in top
        top: 30%

.ng-leave-active
  .overlay
    transition: $t ease-in transform
    transform: translate3d(0,-10%,0)
  .img-wrapper:after
    transition: $t ease-in height
    height: 100%
  .caption
    transition: $t ease-in transform
    transform: translate3d(0,-20px,0)

#store
  .img-wrapper,.img-wrapper:after,.overlay,.caption
    transition: none

.page-loading
  .view-header,
  .icon-aesop,
  .tod,
  .fix-header,
  .tile-link,
  .grid-container
    opacity: 0

  .tile-link
    .overlay
      opacity: 0
      transform: translate3d(0,-20%,0)
    .img-wrapper:after
      height: 10%
    .caption
      transform: translate3d(0,-20px,0)


$start: 500ms
$speed: 500ms
.page-ready
  .view-header,
  .icon-aesop,
  .tod,
  .fix-header,
  .tile-link,
  .grid-container
    opacity: 1
    transition: opacity cubic-bezier(0, 0, 0, 1) 2s

  .view-header
    transition-delay: $start + 2*$speed

  .fix-header
    transition-delay: $start + 2*$speed

  .grid-container
    transition-delay: $start + 3*$speed

  .tile-link
    transition-delay: $start + 4*$speed

  .img-wrapper .overlay,
  .img-wrapper:after,
  .caption
    transition-delay: $start + 5*$speed