include ../components/icons/icons
script#philosophy(type="text/ng-template")
  .togglePopup(ng-click="closeThisDialog()")
    .wrapper-pixel
      +icon-collapse
  include ../components/intro/intro

.body-wrapper(autoscroll)
  .view-header(ui-view='header' ng-class='navState' ng-controller='HeaderCtrl' scroll)
  .view-content(ui-view='content')
.view-footer(ui-view='footer' ng-controller='FooterCtrl' ng-class='footerState')
