$cream: #fffef3
$grey: #edeee2
$grey2: rgba(32,32,30,.5) // Black 50%
$brown: #bcbbb3
$black: #20201e
$red: #A50F00
$border-color: #888

$easeInOutCubic1: cubic-bezier(0.645, 0.045, 0.355, 1)
$easeInOutCubic: cubic-bezier(1, 0.01, 0.4, 0.96)

// Temp due to prob with gulp sass breakpoint
$tablet: 768px
$desktop: 1024px
$large: 1120px


// Mixins
=stagger-transition-delay($i, $initial-delay, $stagger-delay)
  @while $i > 0
    &:nth-of-type(#{$i})
      transition-delay: $initial-delay + $stagger-delay * $i
    $i: $i - 1

=clearfix
  &:after
    content: ""
    display: table
    clear: both

=removeTouchOverlay
  -webkit-tap-highlight-color: rgba(255, 254, 243, 0.1)

=border
  box-shadow: 1px 0 0 0 $border-color,0 1px 0 0 $border-color,1px 1px 0 0 $border-color,1px 0 0 0 $border-color inset,0 1px 0 0 $border-color inset
  border-radius: .5px
=border-no-bottom
  box-shadow: 1px 0 0 0 $border-color,0 1px 0 0 $cream,1px 1px 0 0 $border-color,1px 0 0 0 $border-color inset,0 1px 0 0 $border-color inset


// Breakpoints
=breakpoint-max($max-width)
  @media(max-width: $max-width - 1px)
    @content
=breakpoint($min-width)
  @media(min-width: $min-width)
    @content

+breakpoint($tablet)
  .hide-desktop
    display: none
+breakpoint-max($tablet)
  .hide-mobile
    display: none !important

// Container not fluid because of box border % glitches
.container
  width: 320px
  margin: 0 auto
  position: relative
  +breakpoint(370px)
    width: 360px
  +breakpoint(450px)
    width: 430px
  +breakpoint(620px)
    width: 620px
  +breakpoint($tablet)
    width: 729px
  +breakpoint($desktop)
    width: 1000px
  +breakpoint($large)
    width: 1120px


// Base
html
  background-color: $cream
body
  margin: 0
  color: $black
  background-color: $cream
  text-align: center

h1,h2,h3,h4
  margin: 0

a
  text-decoration: none
  cursor: pointer
  color: $black
  +removeTouchOverlay
  &:focus
    outline: none
    transition: all ease-in-out .2s
    //color: $grey2

hr
  clear: both


// Utilities
.hide
  display: none

.landscape
  display: none
@media only screen and  (max-device-width: 767px) and (orientation: landscape)
  .view-main
    display: none !important
  .landscape
    display: block
    transform: translateY(-50%)
    top: 50%
    position: absolute
    width: 100%

    .icon-landscape
      font-size: 60px
      margin-right: 5px
  .mobile-gallery .scroll-content
    top: 0 !important
  h2
    display: none

.underline
  display: inline-block
  position: relative
  margin-left: 3px
  &:after
    position: absolute
    content: ''
    background-color: $black
    height: 1px
    width: 100%
    bottom: 0
    left: 0

.center
  display: table-cell
  vertical-align: middle


/* Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 * all your sass files automatically
// injector
// endinjector
