.filters-wrapper
  height: 300px
  padding: 100px 40px 40px 40px
  box-sizing: border-box
  background-color: $brown
  position: relative
  .filters
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    background-color:  #222
    color: #fff
    line-height: 50px

.grid-wrapper
  -webkit-overflow-scrolling: touch
  +clearfix

.clearLeft
  clear: left

.tile
  position: relative
  float: left
  text-align: center
  overflow: hidden
  transform: translate3d(0,0,0)
  +border

  a
    display: block
    padding: 10px 10px 45px 10px
    box-sizing: border-box
    position: absolute
    top: 0
    width: 100%
    height: 100%
    @media (max-width: 1120px)
      padding: 5px 5px 30px 5px
  img
    margin-left: auto
    margin-right: auto
    display: block
    width: 100%

  .thumbnail
    position: absolute
    width: 100%
    height: 100%
    left: 0px
    top: 0
    background-size: 100%


$U: 112.5

+breakpoint($tablet)
  .floating-wrapper
    float: left
  .reverse
    float: right
  $proportions: ((20, $U/10),(20, $U/5),(20, $U/10*4),(40, $U/5),(40, $U/10*4),(40, $U/10*6),(60, $U/10*4))
  $i: 0
  @each $var in $proportions
    $w: nth($var, 1)
    $h: nth($var, 2)
    .s#{$i}
      width: $w+%
      .floating-wrapper
        width: 100%
      .tile
        width: 100%
        $hh: 100 / $w * $h+%
        padding-top: $hh
    $i: $i+1

  .s6 .tile
    padding-top: 75.001%

  .s1 , .s2
    .tile.s0
      width: 100%
      padding-top: $U/2+%

  .s2
    .tile.s1
      padding-top: $U+%

  .s3
    .s0
      .tile.s0
        width: 50%
        padding-top: $U/4+%
    .s1+.s0
      width: 50%
      .tile
        width: 100%
        padding-top: $U/2+%
    .s1 .s1+.s0
      width: 100%
    .s2
      width: 50%
      .s2
        width: 100%
        padding-top: 2*$U+%



    .floating-wrapper.s1
      width: 50%
    .tile.s1
      padding-top: $U+%

  .s4
    .tile.s0
      width: 50%
      padding-top: $U/4+%
    .s1
      width: 50%
      .s1
        width: 100%
    .s2
      width: 50%
      .s2
        width: 100%
        padding-top: 2*$U+%
    .tile.s3
      padding-top: $U/2+%

  .s5
    .s0
      width: 50%
      .s0
        width: 100%
        padding-top: $U/2+%
    .tile.s1
      width: 50%
      padding-top: $U/2+%
    .tile.s3
      padding-top: $U/2+%

  .s6
    .s1
      width: 100/3+%
      .s1
        width: 100%
        padding-top: $U+%

    .s2 .s2
      padding-top: 2*$U+%
    .s3
      width: 100/3*2%
      .s0
        width: 50%
        padding-top: $U/4+%
      .s1
        width: 50%
        padding-top: $U/2+%
      .s3
        padding-top: $U/2+%
        width: 100%
      + .s2
        width: 100/3+%

  .grid-container
    //.s1 , .s2
    //  &.rest
    //    //display: none
    //    width: 25%
    //    .tile
    //      padding-top: 75%
    .s6,.s5
      &.rest
        width: 50%
        .tile
          padding-top: 75%
        .img-wrapper .overlay
          background-size: 100%

+breakpoint-max($tablet)
  $proportions: ((50, 25),(50, 50),(100, 200),(100, 50),(100, 100),(100, 150),(100, 66.667))
  $i: 0
  @each $var in $proportions
    $w: nth($var, 1)
    $h: nth($var, 2)
    .tile.s#{$i}
      width: $w+%
      padding-top: $h+%
    $i: $i+1
  .floating-wrapper.s0
    float: left
    width: 50%
    .floating-wrapper.s0
      width: 100%
      .tile.s0
        width: 100%
        padding-top: 50%

  .s0 .s0.tile
    width: 100%
    padding-top: 50%

  .tile.s2
    width: 50%
    padding-top: 100%
  .img-wrapper
    .overlay
      background-size: cover !important
    &.tilefeature .overlay
      background-size: auto 100% !important
  .img-wrapper
    bottom: 34px !important
  .caption
    line-height: 12px !important
    padding: 3px !important

  .view-main
    .overlay
      pointer-events: none
  .page-videos
    .overlay
      pointer-events: auto
    .tile
      padding-top: 65.9% !important

.caption
  +font-small
  text-transform: uppercase
  letter-spacing: .4px
  position: absolute
  box-sizing: border-box
  width: 100%
  padding: 10px
  height: 45px
  line-height: 15px
  bottom: 0
  left: 0
  z-index: 2
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s
  transform: translate3d(0,0,0)
  @media (max-width: 1024px)
    height: 30px
    line-height: 10px
    font-size: 10px
    padding: 7px
    h3
      font-size: 10px

  &.ng-enter
    transition: .25s linear opacity
    opacity: 0

  &.ng-enter.ng-enter-active
    opacity: 1

  &.ng-leave
    transition: .5s linear opacity

  &.ng-leave-stagger
    transition-delay: 0.2s
    transition-duration: 0s

.more
  transition: .2s linear opacity .5s
  &.ng-enter
    transition: .25s linear opacity
    opacity: 0

.img-wrapper
  overflow: hidden
  position: absolute
  top: 10px
  left: 10px
  right: 10px
  bottom: 45px
  overflow: hidden
  &:after
    transform: translate3d(0,0,0)
    z-index: 2
    background-color: $cream
    height: 0%
    content: ''
    left: 0
    position: absolute
    width: 100%
    bottom: 0
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s
  @media (max-width: 1120px)
    top: 7px
    left: 7px
    right: 7px
    bottom: 30px

  img
    display: none
    position: absolute
  .overlay
    opacity: 1
    transform: translate3d(0,0,0)
    transition: opacity $easeInOutCubic 1s, transform cubic-bezier(0.19, 1, 0.22, 1) 2s
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    background-size: auto 100%
    background-repeat: no-repeat
    background-position: center
    opacity: 0
    &.duotone
      opacity: 1
    &:hover
      transition: opacity $easeInOutCubic .5s

// Temp
.s0 .img-wrapper .overlay
  background-size: auto 100%
.resizing
  transition: opacity $easeInOutCubic .15s
  opacity: 0

.grid-quote
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 90%
  +font-large
  letter-spacing: 0.4px

.tile-link
  height: 100%
  &.images-loaded
    .overlay
      opacity: 0
      transform: translate3d(0,-20%,0)
    .img-wrapper:after
      height: 10%
    .caption
      transform: translate3d(0,-20px,0)
  @media (min-width: 1121px)
    &:hover .tile-social
      display: block


.tile-social
  @media (min-width: 1121px)
    display: none
  .social-list.notTouchGallery,
  .social-list
    //position: absolute
    //bottom: 1px
    //text-align: center
    //width: 50px
    //right: 1px
    //z-index: 7

    position: absolute
    text-align: center
    width: 42px
    height: 42px
    z-index: 7
    right: 0
    bottom: -5px
    @media (min-width: 1121px)
      right: 11px
      bottom: 46px

    .icon-share
      height: 45px
      width: 44px

    .social-link
      height: 42px
      width: 42px

    &:hover
      height: 248px

    @media (max-width: 1120px)
      height: 33px
      &:hover
        height: 160px
      .show-desktop
        display: none

      .social-link
        height: 40px

.videos-wrapper
  opacity: 0
  transition: opacity .2s ease-out .5s
  &.show
    opacity: 1

.fade.ng-hide
  opacity: 0

.fade.ng-hide-remove
.fade.ng-hide-add
  display: block !important

.fade.ng-hide-remove
  transition: all linear 1000ms 10000ms

.more
  transition: none !important


+breakpoint($tablet)
  .s1, .s3
    .social-list.bottom
      .social-link
        height: 39px

+breakpoint($large)
  .s1, .s3
    .social-list.bottom
      ul
        z-index: 2
        top: 53px