include ../icons/icons

.grid-container.container(ng-controller='GridCtrl' ng-class="gridClass")
  .grid-wrapper(infinite-scroll="getBrick()" infinite-scroll-distance="distance"
                infinite-scroll-immediate-check="false" infinite-scroll-disabled="scrollEnable")
    .floating-wrapper(ng-repeat="(key, bricksWrapper) in mainWrapper track by $index | limitTo: limit" ng-class="bricksWrapper.size")
      .floating-wrapper(ng-repeat="wrapper in bricksWrapper.bricks" ng-class="wrapper.size")
        .tile(ng-repeat="brick in wrapper.bricks" ng-class="::brick.size")
          tile(ng-brick="{{ ::brick }}" ng-if="brick.isImage" ng-id="{{key}}")
          a(ng-href="{{::brick.ref}}" ng-if="!brick.isImage")
            .grid-quote {{ ::brick.title }}
            .caption
              h3 {{::brick.subtitle}}
              //.span-location {{::brick.subtitle}}

  a.btn.more(ng-click='initInfinite()' ng-show='showMore') {{translations.label_show_more}}
  .btn.fade.no-hover(ng-show='mainWrapper == null && page == "page-search"') {{translations.search_no_results}}
  .btn(ng-show="showClear" ng-click='clearSearch()') {{translations.search_clear_results || 'Clear search' }}

script#videogallery(type="text/ng-template")
  .togglePopup(ng-click="closeThisDialog()")
    .wrapper-pixel
      +icon-collapse

  include ../gallery/video