a.tile-link.images-loaded(ng-href="{{::ref}}" images-loaded-events="imgLoadedEvents" )
  .img-wrapper
    img(ng-src='{{::link}}')
    .overlay.duotone(ng-style='::overlayDuotone')
    .overlay(ng-style='overlay' ng-click="open($event)")
    .videoWrapper(ng-if="$parent.isMovieSection && video")
      .videoContainer(fluid-video video-type="vimeo"
                      video-id="{{video}}?autoplay=1")
  .tile-social(ng-if="socialShare")
    .social-list.bottom(ng-class="isTouch?'':'notTouchGallery'" ng-mouseover="loadSharingData()")
      .icon-share(ng-click="stop($event)")
      ul
        li.show-desktop
          .social-link(ng-click="$event.stopPropagation(); $parent.mail($event)")
            span.icon-mail

        li.show-desktop
          .social-link(ng-click="$event.stopPropagation();" social-linkedin media="{{photo}}" custom-url="{{share}}")
            span.icon-linkedin
        li
          .social-link(ng-click="$event.stopPropagation();" social-facebook custom-url="{{share}}")
            span.icon-facebook
        li
          .social-link(ng-click="$event.stopPropagation();" social-twitter media="{{photo}}" status="{{share}}")
            span.icon-twitter
        li
          .social-link(ng-click="$event.stopPropagation();" social-pinterest media="{{share}}" custom-url="{{share}}"
                       description="Aesop {{::translations.subtitle}}")
            span.icon-pinterest
  .caption
    h3 {{::title}}
    .span-location {{::subtitle}}
