#map
  position: relative
  padding-top: 100%
  +breakpoint($tablet)
    height: 230px
    padding-top: 0
  > div
    top: 0
  &:after
    z-index: 4
    position: absolute
    content: ''
    width: 100%
    height: 100%
    left: 0
    top: 0

.fullHeight
  #map
    +breakpoint($tablet)
      height: 480px

a[href^="http://maps.google.com/maps"]
  display: none !important
a[href^="https://maps.google.com/maps"]
  display: none !important

.gmnoprint a, .gmnoprint span, .gm-style-cc
  display: none
.gmnoprint div
  background: none !important