@font-face
  font-family: 'icomoon'
  src: url('../assets/fonts/icomoon.eot?-4swhwe')
  src: url('../assets/fonts/icomoon.eot?#iefix-4swhwe') format('embedded-opentype'),url('../assets/fonts/icomoon.woff?-4swhwe') format('woff'),url('../assets/fonts/icomoon.ttf?-4swhwe') format('truetype'),url('../assets/fonts/icomoon.svg?-4swhwe#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


// Logo icon
.icon-aesop:before
  content: "\e600"


// Social icons
.icon-facebook
  font-size: 18px
  &:before
    content: "\e601"

.icon-instagram
  font-size: 18px
  margin-top: -1px
  display: block
  &:before
    content: "\e602"

.icon-twitter
  font-size: 15px
  top: 3px
  &:before
    top: -1px
    position: relative
    left: 2px
    content: "\e603"

.icon-vimeo:before
  content: "\e608"

.icon-pinterest
  font-size: 18px
  top: 0
  &:before
    content: "\e604"

.icon-mail:before
  content: "\e900"

.icon-linkedin
  font-size: 13px
  &:before
    content: "\e901"


// Header icons
.icon-share:before
  content: "\e605"

.icon-search:before
  content: "\e606"


// Carousel icons
.icon-right:before
  content: "\e609"

.icon-left:before
  content: "\e60a"

.icon-up:before
  content: "\e607"

.icon-down
  font-size: 5px
  top: 13px
  &:before
    content: "\e60b"

// Mobile screen rotation icon
.icon-landscape:before
  content: "\e60c"
