input
  background-color: transparent
  //color: #fff
  line-height: 24px
  padding-left: 8px
  height: 20px
  outline: none
  border: 1px solid transparent
  min-width: 135px
  position: relative
  &.active,
  &:focus
    transform: translate3d(0,0,0)
    //background-color: $black
    border-color: #888
    color: $black

.input-background
  position: relative
  +font-small
  input
    -webkit-text-fill-color: rgba(grey,0.5)
    font-family: optima
    font-size: 11px
    border-radius: 0
    position: relative
    z-index: 2
    height: 25px
    background-color: $grey
    &:focus
      background-color: transparent
      + .icon-search
        background-color: $black
    &.activeSearch
      -webkit-text-fill-color: $black


.error
  color: $red
  input
    border: 1px solid $red
input:required
  box-shadow:none