/** iDialog windows *

.dialog
  position: fixed
  left: 0
  top: 0
  bottom: 0
  z-index: 100
  width: 100%
  max-width: 100%
  overflow: hidden
  padding: 74px 0
  .ngdialog-overlay,
  .ngdialog-content
    background-color: $cream

  .wrapper-pixel
    height: 20px
    width: 20px
    padding: 0
    position: absolute
    left: 50%
    top: 50%
    transition: all .25s ease-in
    transform: translate3d( -50%, -50%, 0)

  .togglePopup
    right: 1px
    height: 50px
    width: 50px
    z-index: 2
    &:hover
      .pixels-collapse
        transform: rotate(45deg)
        transition-delay: .125s
        -webkit-backface-visibility: hidden
      .wrapper-pixel
        height: 7px
        width: 7px
  +breakpoint-max($desktop)
    -webkit-overflow-scrolling: touch

  &.philosophy
    .togglePopup
      display: none